   <!-- Main Navigation -->
   <header>
    <div class="jumbotron color-grey-light mt-70" style="padding: 0px; height: 100px;">
      <div class="d-flex align-items-center h-100">
        <div class="container text-center py-5">
          <h3 class="mb-0">Share This Website</h3>
          <h4 class="mb-0">Scan QR Below</h4>
        </div>
      </div>
    </div>
  </header>
  <!-- Main Navigation -->
  <div class="container" style="text-align: center;">
      <img src="assets/IMA_QR_CODE.png" alt="ima_qr_code" width="20%">
  </div><!--container end -->
  
  