
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title></title>
</head>
<body>
<div class="container-xl">
	<div class="table-responsive">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-6">
						<h2>Manage <b>Employees</b></h2>
					</div>
					<div class="col-sm-6">
						<a (click)="openModal(addEmployeeModal)" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New Employee</span></a>	
					</div>
				</div>
			</div>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Name</th>
						<th>Email</th>
						<th>Address</th>
						<th>Phone</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let e of employeeList">
                        <td>{{e.empName}}</td>
                        <td>{{e.email}}</td>
                        <td>{{e.location}}</td>
                        <td>{{e.mobileNumber}}</td>
						<td>
							<a (click)="openModal(updateEmployeeModal, e)" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
							<a (click)="deleteEmployee(e.empId)" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
						</td>
					</tr> 
				</tbody>
			</table>
			
			
		</div>
	</div>        
</div>
<!-- Add Employee Modal -->
<ng-template #addEmployeeModal let-modal>
	<div class="modal-body">
		<div class="modal-content">
			<form [formGroup] = "addEmployeeForm" (ngSubmit)="addEmployee()">
				<div class="modal-header">						
					<h4 class="modal-title">Add Employee</h4>
					<button type="button" class="close" data-dismiss="modal" (click)="modal.dismiss()" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">					
					<div class="form-group">
						<label>Name</label>
						<input formControlName="empName" type="text" class="form-control" required>
					</div>
					<div class="form-group">
						<label>Email</label>
						<input formControlName="email" type="email" class="form-control" required>
					</div>
					<div class="form-group">
						<label>Address</label>
						<textarea formControlName="location" class="form-control" required></textarea>
					</div>
					<div class="form-group">
						<label>Phone</label>
						<input formControlName="mobileNumber" type="text" class="form-control" required>
					</div>					
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()" value="Cancel">
					<input type="submit" class="btn btn-success" value="Add">
				</div>
			</form>
		</div>
	</div>
</ng-template>
<!-- Update Employee Modal -->
<ng-template #updateEmployeeModal let-modal>
	<div class="modal-body">
		<div class="modal-content">
			<form [formGroup] = "addEmployeeForm" (ngSubmit)="updateEmployee()">
				<div class="modal-header">						
					<h4 class="modal-title">Edit Employee</h4>
					<button type="button" class="close" data-dismiss="modal" (click)="modal.dismiss()" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">					
					<div class="form-group">
						<label>Name</label>
						<input formControlName="empName" type="text" class="form-control" >
					</div>
					<div class="form-group">
						<label>Email</label>
						<input formControlName="email" type="email" class="form-control">
					</div>
					<div class="form-group">
						<label>Address</label>
						<textarea formControlName="location" class="form-control"></textarea>
					</div>
					<div class="form-group">
						<label>Phone</label>
						<input formControlName="mobileNumber" type="text" class="form-control">
					</div>					
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()" value="Cancel">
					<input type="submit" class="btn btn-info" value="Save">
				</div>
			</form>
		</div>
	</div>

</ng-template>

   
<!-- Delete Modal HTML -->
<ng-template #deleteEmployeeModal let-modal>
	<div class="modal-body">
	<div class="modal-dialog">
		<div class="modal-content">
			<form>
				<div class="modal-header">						
					<h4 class="modal-title">Delete Employee</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">					
					<p>Are you sure you want to delete these Records?</p>
					<p class="text-warning"><small>This action cannot be undone.</small></p>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<input type="submit" class="btn btn-danger" value="Delete">
				</div>
			</form>
		</div>
	</div>
	</div>
</ng-template>
</body>
</html>
