

  <!-- Main Navigation -->
  <header>
    <div class="jumbotron color-grey-light mt-70" style="padding: 0px; height: 100px;">
      <div class="d-flex align-items-center h-100">
        <div class="container text-center py-5">
          <h3 class="mb-0">Our Team Members</h3>
        </div>
      </div>
    </div>
  </header>
  <!-- Main Navigation -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />

  <div class="container bootdey">
  
          <div class="row">
              <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                  <div class="team text-center rounded p-3 py-4">
                      <img src="assets/ch.jpg" class="img-fluid avatar avatar-medium shadow rounded-pill" alt="">
                      <div class="content mt-3">
                          <h4 class="title mb-0">Chandan Hayaran</h4>
                          <small class="text-muted">Team Leader</small>
                          <hr>
                          <small class="text-muted">Mumbai</small>
                          <ul class="list-unstyled mt-3 social-icon social mb-0">
                              <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-facebook" title="Facebook"></i></a></li>
                              <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-instagram" title="Instagram"></i></a></li>
                              <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-twitter" title="Twitter"></i></a></li>
                              <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-google-plus" title="Google +"></i></a></li>
                              <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-linkedin" title="Linkedin"></i></a></li>
                          </ul><!--end icon-->
                      </div>
                  </div>
              </div><!--end col-->
              
              <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                  <div class="team text-center rounded p-3 py-4">
                      <img src="assets/bs.jpg" class="img-fluid avatar avatar-medium shadow rounded-pill" alt="">
                      <div class="content mt-3">
                          <h4 class="title mb-0">Bhargav Sagarla</h4>
                          <small class="text-muted">Team Member</small>
                          <hr>
                          <small class="text-muted">Hyderabad</small>
                          <ul class="list-unstyled mt-3 social-icon social mb-0">
                              <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-facebook" title="Facebook"></i></a></li>
                              <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-instagram" title="Instagram"></i></a></li>
                              <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-twitter" title="Twitter"></i></a></li>
                              <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-google-plus" title="Google +"></i></a></li>
                              <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-linkedin" title="Linkedin"></i></a></li>
                          </ul><!--end icon-->
                      </div>
                  </div>
              </div><!--end col-->
              
              <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                  <div class="team text-center rounded p-3 py-4">
                      <img src="assets/rj.jpg" class="img-fluid avatar avatar-medium shadow rounded-pill" alt="">
                      <div class="content mt-3">
                          <h4 class="title mb-0">Rahul Joshi</h4>
                          <small class="text-muted">Team Member</small>
                          <hr>
                          <small class="text-muted">Pune</small>
                          <ul class="list-unstyled mt-3 social-icon social mb-0">
                              <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-facebook" title="Facebook"></i></a></li>
                              <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-instagram" title="Instagram"></i></a></li>
                              <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-twitter" title="Twitter"></i></a></li>
                              <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-google-plus" title="Google +"></i></a></li>
                              <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-linkedin" title="Linkedin"></i></a></li>
                          </ul><!--end icon-->
                      </div>
                  </div>
              </div><!--end col-->
              
              <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                  <div class="team text-center rounded p-3 py-4">
                      <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="img-fluid avatar avatar-medium shadow rounded-pill" alt="">
                      <div class="content mt-3">
                          <h4 class="title mb-0">Shubham Chidrawar</h4>
                          <small class="text-muted">Team Member</small>
                          <hr>
                          <small class="text-muted">Hyderabad</small>
                          <ul class="list-unstyled mt-3 social-icon social mb-0">
                              <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-facebook" title="Facebook"></i></a></li>
                              <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-instagram" title="Instagram"></i></a></li>
                              <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-twitter" title="Twitter"></i></a></li>
                              <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-google-plus" title="Google +"></i></a></li>
                              <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-linkedin" title="Linkedin"></i></a></li>
                          </ul><!--end icon-->
                      </div>
                  </div>
              </div><!--end col-->
              <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                <div class="team text-center rounded p-3 py-4">
                    <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="img-fluid avatar avatar-medium shadow rounded-pill" alt="">
                    <div class="content mt-3">
                        <h4 class="title mb-0">Abhishek Reddy</h4>
                        <small class="text-muted">Team Member</small>
                        <hr>
                        <small class="text-muted">Hyderabad</small>
                        <ul class="list-unstyled mt-3 social-icon social mb-0">
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-facebook" title="Facebook"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-instagram" title="Instagram"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-twitter" title="Twitter"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-google-plus" title="Google +"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-linkedin" title="Linkedin"></i></a></li>
                        </ul><!--end icon-->
                    </div>
                </div>
            </div><!--end col-->
          </div><!--end row-->
      </div>