<div *ngIf="role=='ROLE_ADMIN'">
<header>
  <div class="jumbotron color-grey-light mt-70" style="padding: 0px; height: 100px;">
    <div class="d-flex align-items-center h-100">
      <div class="container text-center py-5">
        <h3 class="mb-0">Welcome!</h3>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <nav class="nav nav-tabs nav-justified">
      <a  routerLink="manageemployees"  class="nav-item nav-link p-3">Manage Employees</a>
      <a  routerLink="manageresources" class="nav-item nav-link p-3">Manage Resources</a>
      <a  routerLink="managecategories" class="nav-item nav-link p-3">Manage Categories</a>
  </nav>
  <router-outlet></router-outlet>
</div>
</div>

<div class="alert alert-danger" *ngIf="role!='ROLE_ADMIN'">
  <strong>Unauthorized Access!</strong>
</div>

